<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>207546045956-4opnjtn7bdi9bhr1ofsvr40c183ue6gn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.207546045956-4opnjtn7bdi9bhr1ofsvr40c183ue6gn</string>
	<key>API_KEY</key>
	<string>AIzaSyDW5GtyfzBJqM1SqWdit5LZFd8WXzKf1L4</string>
	<key>GCM_SENDER_ID</key>
	<string>207546045956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jemputahApp</string>
	<key>PROJECT_ID</key>
	<string>jemputah-database</string>
	<key>STORAGE_BUCKET</key>
	<string>jemputah-database.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207546045956:ios:4e54531a6ea4e3bfd00751</string>
</dict>
</plist>